.dashboardWidgets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between widgets */
    padding: 20px; /* Padding for the dashboard */
}

.smallWidget {
    grid-column: span 1; /* Small widgets take 1 column */
}
.halfWidth{
    grid-column: span 2;
}
.fullWidth {
    grid-column: span 3; /* Full width widgets take 2 columns */
}

.smallChart {
    grid-column: span 1; /* Small charts take 1 column */
}

.largeChart {
    grid-column: span 2; /* Large charts take 2 columns */
}
