/* src/styles/dealstable.module.css */
.tableContainer {
    margin: 20px;
  }
  
  .addButton {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .addButton:hover {
    background-color: #ffffff;
    color:black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  button {
    background-color: #FF7100;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

button:hover {
    background-color: #E06600;
}