/* Sidebar/styles.module.css */
.sidebar {
    background-color: #F8F8F8;
    color: #1A1C22;
    width: 150px;
    height: 100%;
    padding: 20px;
    position: fixed;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* For smaller screens, sidebar stacks above content */
@media (max-width: 768px) {
    .sidebar {
        position: relative;
        height: auto;
    }
    
}
.sidebar h2 {
    color: #1A1C22;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #1A1C22;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    font-weight:400;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #FF7100;
    color:white ;
}

  
  
.link {
    color: #333; /* Default link color */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Add padding for spacing */
    display: block; /* Make links block elements */
  }
  
  .sidebar .activeLink {
    color: white; /* Desired active text color */
    background-color: #FF7100; /* Background color for active link */
  }