/* src/styles/crm/teammembersignup.module.css */

.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f6f8;
  padding: 20px;
  min-height: 100%;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
  font-size: 1.8rem;
  color: #FF7100;
  margin-bottom: 20px;
  text-align: center;
}

form label {
  margin-bottom: 5px;
  color: black;
}

form input,
form select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

form input:focus,
form select:focus {
  border-color: black;
  outline: none;
}

form select {
  appearance: none;
  background-color: white;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><polygon points="0,0 20,0 10,10" fill="%23000000"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.formButtons {
  display: flex;
  justify-content: space-between; /* Align buttons to opposite sides */
  gap: 10px;
  margin-top: 20px;
}


.successMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.message {
  text-align: center;
  margin-top: 15px;
  font-size: 1.5rem;
  color:Black;
}

/* Additional styling for body */
body {
  margin: 0;
  height: 100%;
  background-color: #f4f6f8;
}
